<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,vietnamese" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

<div th:replace="navi/navbar"></div>
<div class="container">
    <div class="text-center">
        <h1>FAQ</h1></div>
    <div class="text-center-left">
        <h4> 1. Comment puis-je payer la transaction ? </h4>
        <h6> Si vous souhaitez payer votre commande, vous pouvez faire : </h6>
        <h6> -paiements à la livraison </h6>
        <h4> 2. Puis-je passer une commande dans plusieurs restaurants à la fois ? </h4>
        <h6> Il n'y a pas de nombre limité de commandes. restaurant online permet l'exécution de plusieurs commandes en même temps. </h6>
        <h4> 3. Combien de temps faut-il pour que la nourriture soit livrée à l'adresse indiquée ? </h4>
        <h6> Chaque restaurant, après avoir passé une commande, est tenu d'informer du moment de sa mise en œuvre. </h6>
        <h4> 4. Quels sont les meilleurs moments pour passer une commande ? </h4>
        <h6> Les heures d'acceptation des commandes sont données séparément pour chaque restaurateur. Si le restaurant n'accepte pas les commandes, vous en serez informé. </h6>
        <h4> 5. Y a-t-il un montant minimum de commande ? </h4>
        <h6> Chaque restaurant a un montant minimum de commande qui est indiqué dans le profil. </h6>
        <h4> 6. Quel type de nourriture puis-je commander sur dżmy.co ? </h4>
        <h6> Les restaurants sur eatie.co sont divisés en. toutes les cuisines du monde - des bars à lait, des pizzerias, de la cuisine italienne à la cuisine orientale. </h6>
        <h4> 7. Dois-je m'inscrire pour commander de la nourriture ? </h4>
        <h6> Non, l'inscription n'est pas obligatoire, vous pouvez également commander de la nourriture en tant qu'invité, mais si vous fournissez les détails du compte enregistré en tant qu'invité, vous ne pourrez pas passer la commande, vous devrez vous connecter . </h6>
        <h4> 8. Puis-je commander de la nourriture en ligne ? </h4>
        <h6> Oui, lorsque vous allez manger, tout ce que vous avez à faire est de vous inscrire sur notre site Web, de choisir votre plat préféré, et nous le livrerons à votre domicile après un certain temps. </h6>
        <h4> 9. La nourriture n'est pas arrivée après 3 heures d'attente ? Que dois-je faire ? </h4>
        <h6> Contactez le restaurant au numéro de téléphone fourni sur la commande du restaurant  </h6>
        <h4> 10. Y a-t-il un montant maximum de commande ? </h4>
        <h6> Il n'y a pas de montant maximum de commande. </h6>
        <h4> 11. Qui puis-je contacter en cas de doute ? </h4>
        <h6> Veuillez nous contacter à elfelchaouia@gmail.com </h6>
    </div>
</div>
<div th:replace="navi/footer"></div>
</body>
</html>